body {
    font-family: Arial, helvetica neue, helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}
header, aside, nav, section, footer {
    background: #ebebeb;
    text-align: center;
}
header {
    padding: 35px;
    margin: 10px;
}
nav {
    padding: 25px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
}
article {
    color: #ebebeb;
    background: #777;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 140px;
    padding-top: 10px;
}
h1 {
    color: #777;
    background: #ebebeb;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    color: #777;
    background: #ebebeb;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
section {
    width: 495px;
    float: left;
    height: 200px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding-top: 20px;
}
aside {
    float: left;
    width: 425px;
    height: 200px;
    margin-left: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}
footer {
    clear: both;
    overflow: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}